<%= form_for @invoice, url: user_topup_path(@user, @activity), method: :put, html: {multipart: true} do |f| %>
  <p>
    <label>Invoice</label>
    <%# image_tag(@invoice.doc_url) if @invoice.doc? %>
    <%= f.file_field :doc %>
    <%= f.hidden_field :doc_cache %>
    <%= f.submit('Send file') %>
  </p>
<% end %>