<%= render 'layouts/header' %>
<div class="jumbotron" align='center'>
  <h1>I Need to Be Always Online, but...</h1>
</div>


<div class="container">

  <ul class="nav nav-tabs">
    <li class="active"><a href="#ha" data-toggle="tab">I don't have a lot of traffic</a></li>
    <li><a href="#lb" data-toggle="tab">I have a lot of traffic</a></li>
    <li><a href="#geo" data-toggle="tab">I have a lot of traffic from around the world</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="ha">
      <br/>

      <h3>The Problem </h3>
      <p>I need to be always online, but I don't have a lot of traffic </p>
      <h3>The Solution </h3>
      <p>No single Internet connection can ever guarantee 100% reliability: you need two or more to avoid a failure. Since you have to be always online, we monitor your primary IP and automatically "hot switch" to secondary in case of failure.<br/>
      You can have a single server that responds to different IP (like the diagram), or two different servers in different datacenters.</p>
      <h3>The Diagram</h3>
      <%= image_tag('ha.png') %>

    </div>
    <div class="tab-pane fade" id="lb">
      <br />

      <h3>The Problem </h3>
      <p>I need to be always online, but I have a lot of traffic</p>
      <h3>The Solution</h3>
      <p>No single server can ever guarantee 100% reliability: you need two or more servers to avoid a failure. Since you have a large amount of traffic, our system will monitor the reachability of your servers (better if located in different data centers), load balancing them and excluding those with problems. <br />
      Also, you have the opportunity to set a weight, so you can direct more traffic to the most powerful server/line.</p>
      <h3>The Diagram</h3>
      <%= image_tag('lb.png') %>

    </div>
    <div class="tab-pane fade" id="geo">
      <br/>

      <h3>The Problem</h3>
      <p>I need to be always online, but I have a lot of traffic from around the world</p>
      <h3>The Solution</h3>
      <p>No single server can ever guarantee 100% reliability: you need two or more servers to avoid a failure. Since you have a large amount of traffic from different countries, our system will monitor the reachability of your servers (better located in different data centers), load balancing them and excluding those with problems; also, you can manage the geolocation of the requester's IP address and redirect them automatically to a specific area's server of your choice </p>
      <h3>The Diagram</h3>
      <%= image_tag('gl.png') %>

    </div>

  </div>

</div>