<div class="footer">
  <!--<p align="center">&copy; Alberto Zuin 2013 - AlwaysResolve Division - via Mare, 36/A - 36030 Lugo di Vicenza <br/>Tel. 039.049.9271575 - P.I. 04310790284 <a href="mailto: info@alwaysresolve.com">info -at- alwaysresolve.com</a> | <a data-toggle="modal" href="#sales_terms" >-->
  <p align="center">
    &copy; MOYD.CO Ltd 2013 -
    <a href="mailto: info@alwaysresolve.com">info -at- alwaysresolve.com</a>
  </p>
</div>

<%= debug(params) if Rails.env.development?%>